<div class="container-fluid">

<tipogasto-form></tipogasto-form> 

    <h2 class="text-muted">Lista <small>de gastos</small></h2>
   
   
    <div class="row">
        <div class="col-md-12">
            <kendo-grid 
            [data]="view | async" 
            [pageSize]="state.take"
            [skip]="state.skip"
            [sort]="state.sort"
            [pageable]="true"
            [scrollable]="'none'"
            (dataStateChange)="dataStateChange($event)"            
            >
                <kendo-grid-column field="id" title="ID" width="40">
                </kendo-grid-column>
                <kendo-grid-column field="descripcion" title="Descripcion" width="250">
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>    
 

 


</div>