<div class="container-fluid">

<tipogasto-form></tipogasto-form> 

    <h2 class="text-muted">Lista <small>de gastos</small></h2>
   
   
    <div class="row">
        <div class="col-md-12">
            <kendo-grid [data]="gridView" 
             [pageSize]="pageSize"
                                    [skip]="skip"
                                    [pageable]="{
                                                    buttonCount: buttonCount,
                                                    info: info,
                                                    type: type,
                                                    previousNext: previousNext
                                                  }"
                                    [scrollable]="'none'"
                                    [height]="260"
                                    [rowHeight]="36"
                                    (pageChange)="pageChange($event)"
                                    >
                <kendo-grid-column field="id" title="ID" width="40">
                </kendo-grid-column>
                <kendo-grid-column field="descripcion" title="Descripcion" width="250">
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>    
 

 


</div>